.App .container {
  margin: 80px auto 0;
  padding-top: 60px;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0px 7px 7px 0 rgb(37 39 89 / 8%);
  border: 2px solid #33387f;
}

.App h1 {
  padding-bottom: 20px;
  color:#33387f;
}

.App .btn {
  min-width: 40px;
}

.App .operations {
  background-color: #33387f;
  color: #ffffff;
}

.App .operations:hover {
  border: 1px solid #33387f;
  color: #33387f;
}

.App .buttons-container {
 margin: 20px 20px;
}




