.App .container {
  margin: 120px auto;
  padding-top: 60px;
}

.App h1 {
  padding-bottom: 40px;
}

.App .col-3 {
  padding: 0px;
}

.App .btn {
  margin-right: 3px;
}

.App .btn-group button {
  display: block;
}