.App .container {
  margin: 80px auto 0;
  padding-top: 60px;
  max-width: 400px;
  border-radius: 20px;
  box-shadow: 0px 7px 7px 0 rgb(37 39 89 / 8%);
  border: 2px solid #085ED6;

}

.App h1 {
  padding-bottom: 40px;
  color:#085ED6;
}

.App .last-row {
  width: 50px;
}




